<div class="container bg-dark">
  <div class="row justify-content-center">
    <div class="col-md-6 mt-3">
      <form [formGroup]="formData">
        <div>
          <label for="fullName" class="form-label text-light">Full Name:</label>
          <input type="text" name="fullName" class="form-control" formControlName="fullName"
            placeholder="Enter Your Full Name">
          <small class="text-danger" *ngIf="!formData.get('fullName')?.valid && formData.get('fullName')?.touched">Enter
            Your
            Full Name*</small>
        </div>
        <div>
          <label for="mobileNo" class="form-label text-light">Mobile No:</label>
          <input type="number" name="mobileNo" class="form-control" formControlName="mobileNo"
            placeholder="Enter Your Mobile Number">
          <small class="text-danger" *ngIf="!formData.get('mobileNo')?.valid && formData.get('mobileNo')?.touched">Enter
            Your
            Valid Mobile no.*</small>
        </div>
        <div>
          <label for="emailId" class="form-label text-light">Email ID:</label>
          <input type="email" name="emailId" class="form-control" required formControlName="emailId"
            placeholder="Enter Your Valid Email Id">
          <small class="text-danger" *ngIf="!formData.get('emailId')?.valid && formData.get('emailId')?.touched">Enter
            Your
            Email Id*</small>
        </div>

        <div>
          <div class="buttons mt-3 text-center mb-3">
            <button class="btn btn-light mx-2" [disabled]="!formData.valid" (click)="onAddMember()">Add Member</button>
            <button class="btn btn-danger " (click)="onSaveMembers()">Save</button>

          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="container mt-2">
  <div class="row">
    <div class="col-lg-12 col-md-6 table-responsive">
      <table class="table table-danger table-hover">
        <thead>
          <tr >
            <th scope="col">#</th>
            <th scope="col">Full Name</th>
            <th scope="col">Mobile Number</th>
            <th scope="col">Email Id</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let member of usersData;let i = index">
            <th scope="row">{{i+1}} </th>
            <td>{{member.fullName}}</td>
            <td>{{member.mobileNo}}</td>
            <td>{{member.emailId}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>


</div>


<router-outlet></router-outlet>
